**/gen/
**/edmx/
*.db
schema.sql
default-env.json
default-services.json
kubeconfig.yaml

**/bin/
**/target/
.project
.settings

**/node/
**/node_modules/

**/.mta/
*.mtar
*.mta
*.daar

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea

app/*/dist/
app/approuter/login
resources

**/package-lock.json

# added by cds bind
.cdsrc-private.json

#mac osx 
.DS_Store
*mta_archives
**/.nvmrc
